@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";
:root{
    --color-green: #50fa7b;
    --color-video: rgb(46, 13, 59);
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    background: #111010d5;
}
header{
    padding: 30px;
    border-bottom: 1px solid rgb(8, 8, 8);
    background: rgba(0, 0, 0, 0.692);
}

.logo img{
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--color-green);
    margin-bottom: 32px;
}

.links{
    text-align: center;
}

.links a{
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;
}
.links a:hover{
    color: var(--color-green);
    transition: color 300ms;
}

#links-footer a{
    border-bottom: 1px solid var(--color-green);
}

.texts {
    padding: 32px;
}

.texts h1 {
    text-align: center;
    font-size: 60px; 
    line-height: 70px;
    font-weight: bold;
    text-decoration: underline;
}

.texts h2 {
    text-align: center;
    font-size: 40px; 
    line-height: 50px;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.texts p {
    text-align: justify;
    max-width: 82%;
    margin: auto;
    padding: 5px;
    font-size: 24px;
    line-height: 34px;  
}

.list {
    margin: 0 50%;
    font-size: 24px;
    line-height: 34px;
    width: 200px;
    height: 200px;
    list-style-position: inside;
}

.list-tecnologias{
    margin: 5vh auto;

}

/*======== CARDS ========*/

.cards{
    padding: 24px;
    max-width: 900px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
}
.card{
    background-color: var(--color-video);
}

.card_image-container img{
    width: 100%;
}

.card_content,
.card_info{
    padding: 24px;
    font-size: 16px;
    text-align: center;
}

.card_info{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.card_price{
    background-color: var(--color-video);
    filter:brightness(80%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center
    ;
}

/*======== MODAL ========*/

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
    transition: all 300ms;
}

.modal .close-modal{
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal .maximize-modal{
    color: black;
    position: absolute;
    right: 40px;
    top: 8px;
    cursor: pointer;
}

/*======== MODAL.ACTIVE ========*/

.modal-overlay.active{
    opacity: 1;
    visibility:visible;
}

iframe{
    width: 100%;
    height: calc(100% - 40px);
    top: 40px;
    position: absolute;
}

/*======== MODAL.MAXIZE ========*/

.modal.maximize{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: all 300ms;    
}